<form [formGroup]="accountForm" (ngSubmit)="Submit()" class="max-w-md">

    <input type="text" placeholder="Username" class="block border rounded w-full mb-4 bg-transparent p-2"
        formControlName="username" />

    <input type="email" placeholder="Email" class="block border rounded w-full bg-transparent p-2 mb-4"
        formControlName="email" />

    <button type="submit" class="inline-block border rounded bg-transparent py-2 px-8 disabled:opacity-75"
        [disabled]="!accountForm.valid">Save</button>

</form>
